= render 'shared/header'
.bread-crumbs
  %ul
    %li
    - breadcrumb :credit
    = breadcrumbs separator: " #{content_tag(:i, '', class:'fa fa-chevron-right')} "
.credit
  = render 'shared/side_bar'
  .credit-main
    %section.registrationCredit
      %h2.registrationCredit__head 支払い方法
      .registrationCredit__body
        %section
          .singleContent
            %h3.chapterSubHead クレジットカード一覧
          %ul.settingsPaymentList
        %section.settingsAddCard
          .singleContent
            = link_to '/card/new', class: "btn" do
              %i.fa.fa-credit-card
              クレジットカードを追加する
        .settingsNotRegist
          %a(href="/jp/help_center/category/6/" target="_blank")
            %span 支払い方法について
            %i.fa.fa-chevron-right
= render 'shared/aside'
= render 'shared/footer'
= render 'shared/footer-btn'