= render 'shared/header'
.bread-crumbs
  %ul
    %li
    - breadcrumb :user
    = breadcrumbs separator: " #{content_tag(:i, '', class:'fa fa-chevron-right')} "
.user-edit
  = render 'shared/side_bar'
  .user-edit-main
    .registrationPersonalInfo
      .registrationPersonalInfo__head 本人情報の登録
      .registrationPersonalInfo__body
        %div
          %p お客さまの本人情報をご登録ください。<br>登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %p.textRight
            = link_to('本人確認書類のアップロードについて', '/jp/help_center/article/495/')
            %i.fa.fa-chevron-right
        .formGroup
          %label お名前
          %p Team B
        .formGroup
          %label お名前カナ
          %p チーム ビー
        .formGroup
          %label(for="birthday") 生年月日
          %p 2019/6/01
        .formGroup
          %label(for="zip_code") 郵便番号
          %span.form-arbitrary 任意
          %input(type="text" value="" name="zip_code" placeholder="例）1234567" class="input-default")
        .formGroup
          %label(for="prefecture") 都道府県
          %span.form-arbitrary 任意
          .select-wrap
            = form_with(url: '#') do |f|
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name
              %i.fa.fa-chevron-down
        .formGroup
          %label(for="city") 市区町村
          %span.form-arbitrary 任意
          %input(type="text" value="" name="city" placeholder="例) 横浜市緑区" class="input-default")
        .formGroup
          %label(for="address1_label") 番地
          %span.form-arbitrary 任意
          %input(type="text" value="" name="address1" placeholder="例) 青山1−1−1" class="input-default")
        .formGroup
          %label(for="address2_label") 建物名
          %span.form-arbitrary 任意
          %input(type="text" value="" name="address2" placeholder="例) 柳ビル103" class="input-default")
        %button(type="submit" class="btn")登録する
        .formGroup.textRight
          %p
            = link_to('本人情報の登録について', '/jp/help_center/article/423/')
            %i.fa.fa-chevron-right
        %input(type="hidden" name="__csrf_value")
= render 'shared/aside'
= render 'shared/footer'
= render 'shared/footer-btn'
