.body
  = render 'shared/header'
  = render 'shared/bread-crumbs'
  .mypage
    = render 'shared/side_bar'
    .main
      .logout
        .logout__content
          .btn 
            = link_to destroy_user_session_path, method: :delete do
              ログアウト 
  = render 'shared/aside'
  = render 'shared/footer'
