.header
  .box 
    .box__top
      %img{src:"//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1107552019", alt:"merukari", class:"title"}
      -# 一時的にform_tagで記述し、トップページに遷移するように設定
      %form{action: root_path, class:"search-bar"}
        %input{type:"search",name:"keyword",placeholder:"何かお探しですか？",class:"search-bar__box"}
        = button_tag type:"submit", class:"search-bar__icon" do
          =fa_icon 'search lg'

    -# 各ボタンは一時的にトップページに遷移するように設定
    .box__bottom
      %ul.left
        %li.left-btn
          = link_to root_path do
            = fa_icon 'list',class: 'left-btn__icon'
            %span カテゴリーから探す
          
        %li.left-btn
          = link_to root_path do
            = fa_icon 'tag',class: 'left-btn__icon'
            %span ブランドから探す

      %ul.right
        %li.right-btn
          = link_to root_path do
            = fa_icon 'bell',class: 'right-btn__icon'
            %span お知らせ

        %li.right-btn
          = link_to root_path do
            = fa_icon 'check',class: 'right-btn__icon'
            %span やることリスト

        %li.right-btn
          = link_to root_path do
            %img{src:"//static.mercdn.net/images/member_photo_noimage_thumb.png", width: 32, class:"right-btn__mypage-icon"}
            %span マイページ
