.main
  -# スライダー機能("owl-carousel")は後で作成
  .slider
    .slider__box

  .pickup-box
    .head ピックアップカテゴリー
    .item-box__container.clearfix
      .text-center
        = link_to "#" do
          レディース 新着アイテム
      .item-box__content.clearfix
        .item-box
          = link_to "#" do
            .photo
              %img{src: "https://static.mercdn.net/thumb/photos/m33132342381_1.jpg?1559204933",class: "photo__img"}

            .item
              .item__name LOEWE ロエベ ハンドバッグ レザー
              .item__num
                .item__price ¥ 14,000
              .item__tax (税込)

        .item-box
          = link_to "#" do
            .photo
              %img{src: "https://static.mercdn.net/thumb/photos/m33132342381_1.jpg?1559204933",class: "photo__img"}

            .item
              .item__name LOEWE ロエベ ハンドバッグ レザー
              .item__num
                .item__price ¥ 14,000
              .item__tax (税込)

        .item-box
          = link_to "#" do
            .photo
              %img{src: "https://static.mercdn.net/thumb/photos/m33132342381_1.jpg?1559204933",class: "photo__img"}

            .item
              .item__name LOEWE ロエベ ハンドバッグ レザー
              .item__num
                .item__price ¥ 14,000
              .item__tax (税込)

        .item-box
          = link_to "#" do
            .photo
              %img{src: "https://static.mercdn.net/thumb/photos/m33132342381_1.jpg?1559204933",class: "photo__img"}

            .item
              .item__name LOEWE ロエベ ハンドバッグ レザー
              .item__num
                .item__price ¥ 14,000
              .item__tax (税込)

      .view-all
        = link_to "#" do
          全ての商品を見る

  .pickup-box
    .head ピックアップブランド
    .item-box__container.clearfix
      .text-center
        = link_to "#" do
          ナイキ 新着アイテム
      .item-box__content.clearfix
        .item-box
          = link_to "#" do
            .photo
              %img{src: "https://static.mercdn.net/thumb/photos/m87746425855_1.jpg?1559110856",class: "photo__img"}

            .item
              .item__name AIR JORDAN 3 RETRO OG BG
              .item__num
                .item__price ¥ 10,000
              .item__tax (税込)

        .item-box
          = link_to "#" do
            .photo
              %img{src: "https://static.mercdn.net/thumb/photos/m87746425855_1.jpg?1559110856",class: "photo__img"}

            .item
              .item__name AIR JORDAN 3 RETRO OG BG
              .item__num
                .item__price ¥ 10,000
              .item__tax (税込)

        .item-box
          = link_to "#" do
            .photo
              %img{src: "https://static.mercdn.net/thumb/photos/m87746425855_1.jpg?1559110856",class: "photo__img"}

            .item
              .item__name AIR JORDAN 3 RETRO OG BG
              .item__num
                .item__price ¥ 10,000
              .item__tax (税込)

        .item-box
          = link_to "#" do
            .photo
              %img{src: "https://static.mercdn.net/thumb/photos/m87746425855_1.jpg?1559110856",class: "photo__img"}

            .item
              .item__name AIR JORDAN 3 RETRO OG BG
              .item__num
                .item__price ¥ 10,000
              .item__tax (税込)

      .view-all
        = link_to "#" do
          全ての商品を見る
