= render 'shared/sub-header'
.item-main
  .form
    = form_with(model:@item, local: true) do |f|
      .item-contents
        .item-contents__head
          .head__title
            %h2 商品の情報を入力
        .item-contents__image
          .image__head
            %h3 出品画像
            %span 必須
            %h5 最大１０枚までアップロードできます
          .image__box
            = f.label :images do
              #itemtext
                %p#itemtextP1 
                %p#itemtextP2 
              = f.file_field :images, multiple: true, class: 'hidden',onchange:"previewFiles()"
              .imageSelect
              #preview
                - i = 0
                - while i < @item.images.length
                  = image_tag @item.images[i]
                  - i += 1
        .item-contents__info
          .info__name
            %h4 商品名
            %span 必須
          .info__default
            = f.text_field :name, type:"text", placeholder:"商品名（必須４０文字まで）"
          .info__description
            .description__item
              %h4 商品の説明
              %span 必須
            .description__comment
              = f.text_area :discription, type:'text', placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",rows: "10",class: "textarea-default"
        #categoryAppend-size.item-contents__detail.edit
          %h4 商品の詳細
          .detail__box
            .box__group
              %label
                %h3 カテゴリー
                %span 必須
              #categoryAppend.select__box
                = fields_for :items_categories do |items_categories|
                  = items_categories.select :category_id,Category.roots.map {|i| ["#{i.name}", i.id]},{prompt: "---",selected:@item.categories.first.root.id},{id:"form1"}
                %i.fa.fa-chevron-down
              #categoryAppend-1.select__box
                = fields_for :items_categories do |items_categories|
                  = items_categories.select :category_id,@serect_category.root.children.map{|c|[c.name,c.id]},{prompt: "---",selected:@item.categories.first.parent.id},{id:"form2"}
                %i.fa.fa-chevron-down
              #categoryAppend-2.select__box
                = f.fields_for :items_categories do |items_categories|
                  = items_categories.select :category_id,@serect_category.siblings.map{|c|[c.name,c.id]},{prompt: "---"},{id:"form3"}
                %i.fa.fa-chevron-down
            #categoryAppend-sizeform.box__group1.hidden
              %label
                %h3 サイズ
                %span.any 任意
              .select__box
                = f.select :size, [["---","---"],["XXS以下","XXS以下"],["XS(SS)","XS(SS)"],["S","S"],["M","M"],["L","L"],["XL(LL)","XL(LL)"],["2XL(3L)","2XL(3L)"],["3XL(4L)","3XL(4L)"],["4XL(5L)以上","4XL(5L)以上"],["FREE SIZE","FREE SIZE"]], class:"select-default"
                %i.fa.fa-chevron-down
            #categoryAppend-any.box__group-any
              %label
                %h3 ブランド
                %span.any 任意
              .select__box
                = f.text_field :brand, class:"select-default", placeholder:"例）シャネル"
            .box__group1
              %h3 商品の状態
              %span 必須
              .select__box
                = f.select :item_condition, [["---","---"],["新品・未使用","新品・未使用"],["未使用に近い","未使用に近い"],["目立った傷や汚れなし","目立った傷や汚れなし"],["やや傷や汚れあり","やや傷や汚れあり"],["傷や汚れあり","傷や汚れあり"],["全体的に状態が悪い","全体的に状態が悪い"]], class:"select-default"
                %i.fa.fa-chevron-down
        #a.item-contents__shipping
          %h4 配送について
          .form-question
            = link_to "？", "#", target: "_blank"
          .shipping__box
            .box__fee
              %h3 配送料の負担
              %span 必須  
              #fee.select__box
                = f.select :delivery_fee, [["---","---"],["送料込み(出品者負担)","送料込み(出品者負担)"],["着払い(購入者負担)","着払い(購入者負担)"]], class:"select-default"
                %i.fa.fa-chevron-down
            #appendBox-rule.box__rule.hidden
              %h3 配送方法
              %span 必須  
              .select__box
                = f.select :shipping_rule, [["---","---"],["未定","未定"],["らくらくメルカリ便","らくらくメルカリ便"],["ゆうメール","ゆうメール"],["レターパック","レターパック"],["普通郵便(定型、定型外)","普通郵便(定型、定型外)"],["クロネコヤマト","クロネコヤマト"],["ゆうパック","ゆうパック"],["クリックポスト","クリックポスト"],["ゆうパケット","ゆうパケット"]], class:"select-default"
                %i.fa.fa-chevron-down
            .box__area
              %h3 発送元の地域
              %span 必須
              .select__box
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name
                %i.fa.fa-chevron-down
            .box__date
              %h3 発送までの日数
              %span 必須
              .select__box
                = f.select :shipping_date, [["---","---"],["１〜２日で発送","１〜２日で発送"],["２〜３日で発送","２〜３日で発送"],["４〜７日で発送","４〜７日で発送"]], class:"select-default"
                %i.fa.fa-chevron-down
        .item-contents__price
          %h4 販売価格(300〜9,999,999)
          .form-question
            = link_to "？", "#", target: "_blank"
          .price__box
            .list__top
              .top__left
                価格
                %span 必須
              .top__right
                .price__input
                  ￥
                  = f.text_field :price, type:"text", placeholder:"例）300", id: "price"
            .list__center
              .left
                販売手数料(10%)
                #fee-js
                  %p#fee-
                    ¥
                    = @fee
            .list__bottom
              %p.left 販売利益
              #profit-js
                %p.right#fee-
                  ¥
                  = @price - @fee
        .item-contents__submit
          = link_to "禁止されている商品", "https://www.mercari.com/jp/help_center/getting_started/prohibited_items/"
          = link_to "行為", "https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/"
          を必ずご確認ください。
          %br またブランド品でシリアルナンバー等がある場合はご記載ください。
          = link_to "偽ブランドの販売", "https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/"
          は犯罪であり処罰される可能性があります。
          %br また、出品を持ちまして
          = link_to "加盟店規約", "https://www.mercari.com/jp/seller_terms/"
          にも同意したことになります。
          %br
          .submit__buttom
            = f.submit '出品する', class: 'btn-default'
          .submit__last
            = link_to root_path do
              %button{type:"submit", class:"btn-default"}
                もどる
= render 'shared/sub-footer'
