.single-container
  = render 'shared/sub-header'
  .single-main
    .main-contents
      .main-contents__header
        %p 購入内容の確認
      .main-contents__buy
        .buy-content
          %h3.item-image
            = image_tag('http://kotonohanoana.com/wp-content/uploads/2015/09/004504a0ae99befc80567a1284d63dcb.jpg')
          %p.item-name
            アイウエオ
          .buy-form
            %p.price 
              %span ¥1000
              送料込み
            %li.point ポイントはありません
            .price-table
              %p.pay 支払金額
              %span ¥1000
            .submit
              %button{type:"submit", class:"btn-default"}
                %p 購入する
      .user-info
        .user-info__inner
          %h3 配送先
          .user-info-text
            %br 〒570-0016
            大阪府 枚方市 香里ヶ丘193789-1-8
            %br ふじた さき
          .user-info-fix
            = link_to "変更する", "https://www.mercari.com/jp/transaction/address/m75484476611/"
            %i.fa.fa-chevron-right
      .pay-method
        .pay-method__inner
          %h3 お支払い方法
          .inner-text
            ************6789
            %br 07 / 23
          .figure
            = image_tag('//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2399382397', alt:"VISA")
          .user-info-fix
            = link_to "変更する", "https://www.mercari.com/jp/transaction/select_card/m75484476611/"
            %i.fa.fa-chevron-right
= render 'shared/sub-footer'
