.body
  = render 'shared/header'
  = render 'shared/bread-crumbs'
  .mypage
    = render 'shared/side_bar'
    .main
      .logout
        %form(action="#" method="" class="l-single-inner" novalidate="novalidate")
          .logout__content
            %button(type="submit" class="btn")ログアウト
            %input(type="hidden" name="")
  = render 'shared/aside'
  = render 'shared/footer'