.wrapper

  = render 'shared/header'

  .bread-crumbs
    %ul
      %li
      - breadcrumb :item, @item
      = breadcrumbs separator: " #{content_tag(:i, '', class:'fa fa-chevron-right')} "
  .item-box-container
    .item-name
      = @item.name
    .item-main-content.clearfix
      .photo
        -# スライダー機能は後で実装します
        .photo__slider
          .slider__inner
            = image_tag @item.images.first, class: "inner_img"
            .itemList
              - i = 0
              - while i < @item.images.length
                = image_tag @item.images[i]
                - i += 1
        .photo__soldout-budge
          - if @item.status == '交渉中'
            .budge-text SOLD
            .budge-layout

      %table{border: "5",rules: "all",class: "detail-table"}
        %tbody
          %tr
            %th 出品者
            %td
              = link_to "#", class: "buyer-name" do
                = @item.user.nickname
              .user-ratings__good
                = fa_icon 'laugh',class: 'icon-good'
                %span
                  = @goods.count
              .user-ratings__normal
                = fa_icon 'meh',class: 'icon-normal'
                %span
                  = @normals.count
              .user-ratings__bad
                = fa_icon 'frown',class: 'icon-bad'
                %span 
                  = @bads.count
          %tr
            %th カテゴリー
            %td
              = link_to "#", class: "category-name" do
                = @category.root.name
              = link_to "#", class: "category-name__child" do
                = fa_icon 'chevron-right',class: 'icon-arrow-right'
                = @category.parent.name
              = link_to "#", class: "category-name__child" do
                = fa_icon 'chevron-right',class: 'icon-arrow-right'
                = @category.name
          %tr
            %th ブランド
            %td
              = link_to "#", class: "brand-name" do
                = @item.brand_id
          %tr
            %th 商品の状態
            %td
              = @item.item_condition
          %tr
            %th 配送料の負担
            %td
              = @item.delivery_fee
          %tr
            %th 配送の方法
            %td
              = @item.shipping_rule
          %tr
            %th 配送元地域
            %td 
              = link_to "#", class: "area-name" do
                = @item.prefecture.name
          %tr
            %th 発送日の目安
            %td
              = @item.shipping_date

    .price-box
      %span.price-box__price
        ¥
        = @item.price
      %span.price-box__tax  (税込)
      %span.price-box__shipping-fee 送料込み

    .buy-btn
      - if @item.status == '出品中' && @item.user_id != current_user.id
        = link_to purchase_item_path, class: 'purchase-btn' do
          購入する
      - elsif @item.status == '出品中' && @item.user_id == current_user.id
      - else @item.status == '交渉中'
        %button{type:"submit", class:"sold-btn"}
          %p 売り切れました
    .description
      %p.description__inner
        ■商品ご覧頂き、誠にありがとうございます。
        = @item.discription

    .btns.clearfix
      .btns__left
        %button.like-btn
          = fa_icon 'heart',class: 'icon-heart'
          %span.like-btn__title いいね!
          %span.like-btn__num 7
        %button.report-btn
          =fa_icon 'flag',class: 'icon-flag'
          %span.report-btn__title 不適切な商品の報告

      .btns__right
        = link_to "#" do
          = fa_icon 'lock',class: 'icon-lock'
          %span あんしん・あんぜんへの取り組み

  .item-comments
    .comments-container
      .comments-box
        %ul.comments-box__comments
          %li.commment.clearfix
            .comment__user
              = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?2399382397",class: "user-unknown")
              %figcaption.bold アワチン
            .comment__body
              .comment-body__text ぜひ買いたいです！
              .comment-body__icons.clearfix
                .icon-left
                  = fa_icon 'clock',class: 'icon-clock'
                  %span 215日前
                .icon-right
                  = link_to "#" do
                    = fa_icon 'flag',class: 'icon-flag'
              =fa_icon 'caret-left',class: 'icon-arrow-left'

          %li.commment.clearfix
            .comment__user
              = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?2399382397",class: "user-unknown")
              %figcaption.bold  ノブタカ
            .comment__body
              .comment-body__text いいね！
              .comment-body__icons.clearfix
                .icon-left
                  = fa_icon 'clock',class: 'icon-clock'
                  %span 215日前
                .icon-right
                  = link_to "#" do
                    = fa_icon 'flag',class: 'icon-flag'
              = fa_icon 'caret-left',class: 'icon-arrow-left'

      .comments-box
        .comment-form
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = form_with url: "#", class: "comment-form" do |f|
            = f.text_area :comment, class: "comment-form__text_area"
            = f.submit "コメントする", class: "comment-form__submit"

  %ul.link-prev-next.clearfix
    %li.prev
      = link_to '#' do
        = fa_icon 'chevron-left',class: 'icon-arrow-left'
        ディズニーヴィランズ 2個セット バッジ バッチ Villains 2018
    %li.next
      = link_to '#' do
        = fa_icon 'chevron-right',class: 'icon-arrow-right'
        楽天パンダ ノート&マスキングテープセット

  .item-social-media-box
    .item-delete-edit
    - if user_signed_in? && current_user.id == @item.user_id
      = link_to item_path(@item.id), method: :delete do
        削除する
        
    - if user_signed_in? && current_user.id == @item.user_id 
      = link_to edit_item_path(@item.id) do
        編集する

  .items-in-user-profile
    .item-box-container.clearfix
      .item-box-container__head
        = link_to '#' do
          BOON90sリバイバル@フォロー割さんのその他の出品
      .item-box-container__content
        .item-box-left
          = link_to "#" do
            .photo
              = image_tag("https://static.mercdn.net/thumb/photos/m33132342381_1.jpg?1559204933",class: "photo__img")
            .item
              .item__name LOEWE ロエベ ハンドバッグ レザー
              .item__num
                .item__price ¥ 14,000
              .item__tax (税込)
        .item-box
          = link_to "#" do
            .photo
              = image_tag("https://static.mercdn.net/thumb/photos/m33132342381_1.jpg?1559204933",class: "photo__img")
            .item
              .item__name LOEWE ロエベ ハンドバッグ レザー
              .item__num
                .item__price ¥ 14,000
              .item__tax (税込)
        .item-box
          = link_to "#" do
            .photo
              = image_tag("https://static.mercdn.net/thumb/photos/m33132342381_1.jpg?1559204933",class: "photo__img")

            .item
              .item__name LOEWE ロエベ ハンドバッグ レザー
              .item__num
                .item__price ¥ 14,000
              .item__tax (税込)

    .item-box-container.clearfix
      .item-box-container__head
        = link_to '#' do
          コーチのショルダーバッグその他の出品
      .item-box-container__content
        .item-box-left
          = link_to "#" do
            .photo
              = image_tag("https://static.mercdn.net/thumb/photos/m33132342381_1.jpg?1559204933",class: "photo__img")
            .item
              .item__name LOEWE ロエベ ハンドバッグ レザー
              .item__num
                .item__price ¥ 14,000
              .item__tax (税込)
        .item-box
          = link_to "#" do
            .photo
              = image_tag("https://static.mercdn.net/thumb/photos/m33132342381_1.jpg?1559204933",class: "photo__img")
            .item
              .item__name LOEWE ロエベ ハンドバッグ レザー
              .item__num
                .item__price ¥ 14,000
              .item__tax (税込)
        .item-box
          = link_to "#" do
            .photo
              = image_tag("https://static.mercdn.net/thumb/photos/m33132342381_1.jpg?1559204933",class: "photo__img")
            .item
              .item__name LOEWE ロエベ ハンドバッグ レザー
              .item__num
                .item__price ¥ 14,000
              .item__tax (税込)

  = render 'shared/aside'

  = render 'shared/footer'
