= render 'shared/header'
.bread-crumbs
  %ul
    %li
    -# 修正が必要
    - breadcrumb :credit
    = breadcrumbs separator: " #{content_tag(:i, '', class:'fa fa-chevron-right')} "
.credit
  = render 'shared/side_bar'

  .mypage-pay-main
    .mypage-address-title
      %a.mypage-form-title 登録クレジットカード情報
    .pay-box
      .mypage-formGroup-first
        %label カード番号
        %br
        = "**** **** **** " + @default_card_information.last4
        %br
        %br
        %label 有効期限
        %br
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
        %br
        %br
        = form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm", class: "mypage-deletebtn") do
          %input{ type: "hidden", name: "card_id", value: "" }
          %button 削除する

= render 'shared/aside'
= render 'shared/footer'
= render 'shared/footer-btn'
